body{
margin:0;
font-family:Arial, sans-serif;
background: #020024;
background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}


.header{
background-image:url();
color:white;
text-align:center;
padding: 60px 20px;
background-size:cover;
background-position:center;
}

.site-title{
margin-top:10px;
}

/* NAV */
.nav {
  background-color: #222;
  text-align: center;
  padding: 15px;
}

.nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
}

/* SECTIONS */
.section {
  width: 80%;
  margin: 40px auto;
  padding: 30px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

/* ABOUT */
.about {
  display: flex;
  gap: 30px;
  align-items: center;
}

.about img {
  width: 40%;
  border-radius: 15px;
}

.about .text {
  width: 60%;
}

/* GALLERY */
.cards {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.card {
  width: auto;
  background-color: #f7f7f7;
  padding: 15px;
  border-radius: 15px;
  text-align: center;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

/* VIDEO */
.video-box {
  text-align: center;
}

/* FACTS */
.facts ul {
  width: fit-content;
  margin: 0 auto;
}

/* BUTTON */
.btn {
  display: block;
  width: 220px;
  margin: 0 auto;
  padding: 15px;
  text-align: center;
  background-color: #ff6b6b;
  color: white;
  text-decoration: none;
  border-radius: 12px;
}

@media (max-width:768px){
  body{
font-size:16px;
  }

  .header{
padding:40px 15px;
  }

  .site-title{
font-size:22px;
  }

  .nav a{
display:block;
width:95%;
  }

  .section{
width:90%;
  padding:20px;
  }

  .about{
flex-direction: column;
text-align: center;
  }

  .about img{
width:100%;
  }

  .about .text{
  width:100%;
  }

  .cards{
flex-duration:colum;
  }

  .card{
width:100%;
  }


  .video-box iframe{
width:auto;
height:200px;
  }

  .facts ul{
padding-left:20px;
  }

  .btn{
width:90%;
font-size:18px;
  }
}

.owners ul {
  width: fit-content;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}


